.grey-card {
  background-color: lightgrey;
}

.flex-layout {
  display: flex;
  justify-content: flex-end;
}

.plusButton {
  align-content: flex-end;
  margin-left: 25px;
  margin-right: 12px;
}

.mat-stroked-button:hover, .mat-button:hover {
  background: rgb(0, 180, 181);
  color: white;
}


