<div *ngIf="!loaded">
  <div class="wrapper">
    <div class="center">
      <mat-spinner diameter="70"></mat-spinner>
    </div>
  </div>
</div>
<div *ngIf="loaded">
  <p class="title"><b>Mondat kiegészítés</b> - {{sentenceCompletion.title}}</p>
  <button (click)="evaluateTask()" class="addbtn" mat-raised-button type="button">
    Kész, beküldöm a megoldást
  </button>
  <h2 class="subtitle">{{sentenceCompletion.sentence}}</h2>


  <div class="example-container">
    <h2 class="subtitle">Elérhető elemek</h2>

    <div
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="sentenceCompletion.options"
      cdkDropList
      cdkDropListSortingDisabled
      class="example-list">
      <div *ngFor="let element of sentenceCompletion.options" cdkDrag class="example-box">{{element}}</div>
    </div>
  </div>
</div>

