.exercises-form {
  min-width: 150px;
  max-width: 500px;
  width: 95%;
}

.example-full-width {
  width: 95%;
}

.title-left {
  text-align: left;
  font-size: x-large;
}

mat-label {
  color: rgb(17, 131, 181) !important;;
}
