<html>
<body>
<div class="container">
  <mat-card class="mat-card-controls mat-card-base">
    <mat-card-content>
      <div class="flex-layout">
        <button (click)="newPair()" class="plusButton" mat-button>
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>
<div class="mat-card-base">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card *ngFor="let member of this.pairingRequest.pairs; let i = index" class="mat-width">
      <mat-card-content>
        <form *ngFor="let pair of member.pair; let j = index" class="my-form">
          <mat-form-field class="width-and-trash">
            <input #pairchild (click)="elementClicked(i,j)" [ngModel]="pair.content"
                   (ngModelChange)="updatePairElement($event, i, j)" matInput name="username">
          </mat-form-field>
          <i (click)="this.deletePairElement(i,j)" class="fa fa-trash"></i>&nbsp;
          <br>
        </form>
        <mat-form-field class="width-and-trash-inactive">
          <input (click)="addPairElement(i)" matInput name="username">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>

</body>
</html>
