<html>
<body>
<app-modal></app-modal>
<div id="modal-container" class="hidden"></div>
<div (click)="removeModalNewExercise()" class="hidden" id="overlay"></div>
<div class="container">
  <mat-card class="mat-card-controls">
    <mat-card-content>
      <div class="flex-layout">
        <mat-form-field>
          <mat-label style="color: black;">Tantárgy</mat-label>
          <mat-select>
            <mat-option *ngFor="let subject of subjects" [value]="subject">
              {{subject}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label style="color: black;">Évfolyam</mat-label>
          <mat-select>
            <mat-option *ngFor="let class of classes" [value]="class">
              {{class}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="newExercise()" class="plusButton" mat-button>
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>

<mat-accordion *ngIf="this.exercisesLoaded" [multi]="true" [togglePosition]="'before'">
  <mat-expansion-panel *ngFor="let exercise of exercisesUI; index as i" style="margin-top: 16px">
    <mat-expansion-panel-header>
      <div>
        <mat-panel-title style="font-size: large">
          {{exercise.name}}&nbsp; -
          <img class="image1" src="assets/icons/bars_lv1.png" style="margin-left: 16px">
        </mat-panel-title>
        <div fxLayout="row wrap" style="margin-top: 8px">
          {{exercise.comment}}
        </div>
      </div>
      <div class="float-right">{{exercise.lastModified}}
        <div>
          <i (click)="openMyTasks(exercise.id)" class="fa fa-plus-square small-menu-button"
             style="margin-top: 8px"></i>
          <i (click)="deleteExercise(exercise.id)" class="fa fa-trash small-menu-button" style="margin-left: 16px"></i>
        </div>
      </div>
    </mat-expansion-panel-header>


    <mat-card *ngFor="let task of exercise.tasks; index as j" class="right-aligned-header" style="margin-top: 8px">
      <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="8px">
        <div class="float-left">
          {{task.title}}&nbsp; -
          <img class="image1" src="assets/icons/bars_lv2.png">
        </div>
        <div class="float-right">
          {{task.formattedLastModified }}
          &nbsp;<i class="fa fa-trash"></i>&nbsp;
        </div>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
</body>
</html>
