
<html>
<body>
<app-modal></app-modal>
<div id="modal-container" class="hidden"></div>
<div id="overlay" (click)="removeModalNewExam()" class="hidden"></div>
<div class="container">
  <mat-card class="mat-card-controls">
    <mat-card-content>
      <div class="flex-layout">
        <mat-form-field>
          <mat-label style="color: black;">Tantárgy</mat-label>
          <mat-select>
            <mat-option *ngFor="let tantargy of tantargyak" [value]="tantargy">
              {{tantargy}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label style="color: black;">Évfolyam</mat-label>
          <mat-select>
            <mat-option *ngFor="let evfolyam of evfolyamok" [value]="evfolyam">
              {{evfolyam}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="newExam()" class="plusButton" mat-button>
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>

<mat-accordion [togglePosition]="'before'" *ngIf="this.exercisesLoaded">
  <mat-expansion-panel  *ngFor="let exercise of exercises; index as i" style="margin-top: 16px">
    <mat-expansion-panel-header  >
      <div>
        <mat-panel-title>
          {{exercise.name}}&nbsp; -
          <img class="image1" src="assets/icons/bars_lv1.png">
        </mat-panel-title>
          <div fxLayout="row wrap" fxLayout.xs="column-reverse" fxLayoutAlign="space-around center" fxLayoutGap="8px">
            <mat-card>
              {{exercise.lastModified}}
            </mat-card>
            <mat-card>
              &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square"></i>
              &nbsp;&#8196;<i class="fa fa-trash"></i>&nbsp;&nbsp;
            </mat-card>
          </div>
      </div>
    <div>{{exercise.comment}}</div>
    </mat-expansion-panel-header>


    <mat-card class="right-aligned-header"  *ngFor="let task of exercise.tasks; index as j" style="margin-top: 8px">
      <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="8px">
        <div class="float-left">
          {{task.title}}&nbsp; -
          <img class="image1" src="assets/icons/bars_lv2.png">
        </div>
        <div class="float-right">
          {{task.lastModified}}
          &nbsp;&#8196;<i class="fa fa-trash"></i>&nbsp;
        </div>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
</body>
</html>
