mat-grid-tile {
  vertical-align: center;
}

mat-grid-list  {
  width: 1000px;
}

.tileSummary{
  font-size: large;
  margin-left: 6px;
}

.float-left{
  float:left;
  margin-left: 20px;
}

.float-right{
  margin-left: auto;
  margin-right: 20px;
  float:right;
}

.fit-parent {
  max-width: fit-content;
}

mat-card {
  max-width: 36rem;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  padding: 1px;
}

mat-accordion {
  max-width: 36rem;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  padding: 1px;
}

mat-grid-list, .mat-card-controls {
  height: auto;
  width: 100%;
}

.image1 {
  max-height: 1em;
}

mat-card-content {
  margin: 1px;
}

.container {
  display: flex;
}

.project-card-container {
  display: flex !important;
  flex-wrap: nowrap !important;

  .project-card {
    flex: 1 1 auto;
    width: 750px;
  }
}

.flex-layout {
  display: flex;
  justify-content: flex-end;
}

.dateInput {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
}

.dayChangeButton {
  min-width: 4rem;
}

.tableHourInput{
  width: 20px;
}

.mat-stroked-button:hover, .mat-button:hover {
  background: rgb(17, 131, 181);
  color: white;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(70vh - 20px);
}
.inner {
  padding: 12px;
}

.sumOfHours {
  font-size: 1.35em;
}

.mat-button:focus .mat-button-focus-overlay .mat-stroked-button .mat-stroked-button-focus-overlay {
  background-color: transparent;
}

.mat-datepicker:hover {
  background: rgb(17, 131, 181);
}

.aligned-with-icon {
  font-size: large;
  position: relative;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.osszes {
  vertical-align: middle;
}

.form-control {
  width: 50px;
  text-align: center;
}

.days {
  margin-right: 25px;
}

.actualDayBtn {
  margin-left: 15px;
}

.hourInput{
  width: 40px;
  text-align: center;
}

.plusButton {
  align-content: flex-end;
  margin-left: 25px;
  margin-right: 12px;
}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.projectRow {
  display: flex;
}

@media(max-width: 1100px) {
  .daylist {
    width: auto;
    //font-size: xx-small;
  }
}

.special-day-color {
  background: rgba(255, 165, 0, 0.31);
  border-radius: 100%;
}

.unreported-color {
  background: rgba(255, 0, 0, 0.31);
  border-radius: 100%;
}

.reported-color {
  background: rgba(0, 128, 0, 0.31);
  border-radius: 100%;
}

.mat-card-title {
  font-size: 16px;
}

.mat-card-content {
  font-size: 16px;
}

h3 {
  margin-bottom: 0;
}

@media(max-width: 1200px){
  .tileSummary{
    font-size: smaller;
    margin-left: 6px;
  }

  .dayChangeButton, .nezetBtn, .actualDayBtn {
    min-width: 1%;
  }
}

@media(max-width: 1019px) {
  .hourInput {
    margin-left: 300px;
  }

  .deleteButton {
    margin-left: 20px;
  }



  .dayChangeButton, .nezetBtn, .actualDayBtn {
    min-width: 1%;
  }

  .nezetBtn, .actualDayBtn {
    font-size: x-small;
  }

  .project-card {
    width: auto;
  }

  .daylist {
    font-size: smaller;
    width: auto;
  }
}

@media(max-width: 991px){
  .hourInput {
    margin-left: 200px;
  }

  .deleteButton {
    margin-left: 18px;
  }
}

@media(max-width: 768px) {
  .hourInput {
    margin-left: 120px;
  }

  .deleteButton {
    margin-left: 12px;
  }

  .week-view{
    width: 553px;
  }

  .tileDate{
    font-size: large;
  }

  .project-card {
    width: auto;
  }

  .aligned-with-icon, .fas {
    font-size: small;
  }


  .nezetBtn, .actualDayBtn {
    font-size: x-small;
  }

  .dayChangeButton {
    min-width: 1%;
  }
}

@media(max-width: 1100px){
  .daylist{
    width: auto;
    //font-size: xx-small;
  }
}

@media(max-width: 536px){
  .hourInput {
    margin-left: 70px;
  }

  .deleteButton {
    margin-left: 12px;
  }
}

@media(max-width: 450px){
  .hourInput {
    margin-left: 37px;
  }

  .deleteButton {
    margin-left: 6px;
  }
}

.special-day-color{
  background: rgba(255, 165, 0, 0.31);
  border-radius: 100%;
}

.unreported-color{
  background: rgba(255, 0, 0, 0.31);
  border-radius: 100%;
}

.reported-color{
  background: rgba(0, 128, 0, 0.31);
  border-radius: 100%;
}

.mat-card-title {
  font-size: 16px;
}

.mat-card-content {
  font-size: 16px;
}

.mat-card .mat-card-content {
  margin: 0px;
}

h3 {
  margin-bottom: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
  min-width: 13px;
  max-width: 100%;
  width: 100%;
}
