<html>
<body>
<app-modal></app-modal>
<div id="modal-container" class="hidden"></div>
<div id="overlay" (click)="removeModalnewTask()" class="hidden"></div>
<div class="container">
  <mat-card class="mat-card-controls">
    <mat-card-content>
      <div class="flex-layout">
        <div class="fit-parent">
          <mat-form-field>
            <mat-label style="color: black;">Tantárgy</mat-label>
            <mat-select>
              <mat-option *ngFor="let tantargy of tantargyak" [value]="tantargy">
                {{tantargy}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label style="color: black;">Évfolyam</mat-label>
            <mat-select>
              <mat-option *ngFor="let evfolyam of evfolyamok" [value]="evfolyam">
                {{evfolyam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button (click)="newTask()" class="plusButton" mat-button>
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>

    <mat-card class="right-aligned-header" *ngFor="let feladat of feladatok">
      <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="8px">
        <div class="float-left">
          {{feladat.title}} - {{this.convertEnum(feladat.type)}}
          <img class="image1" src="{{this.diffImServ.convertNumToPath(1)}}">
        </div>
        <div class="float-right">
          {{this.today.getFullYear()}}.{{this.today.getMonth().toString().padStart(2, '0')}}.{{this.today.getDay().toString().padStart(2, '0')}}
          &nbsp;&#8196;<i class="fa fa-trash"></i>&nbsp;
          <i [routerLink]="['/csoportositas']" class="fa fa-edit"></i>&nbsp;&nbsp;
        </div>
      </div>
    </mat-card>

    <mat-card class="right-aligned-header">
      <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="8px">
        <div class="float-left">
          Körmozgás - csoportosítás
          <img class="image1" src="{{this.diffImServ.convertNumToPath(1)}}">
        </div>
        <div class="float-right">
          {{this.today.getFullYear()}}.{{this.today.getMonth().toString().padStart(2, '0')}}.{{this.today.getDay().toString().padStart(2, '0')}}
          &nbsp;&#8196;<i class="fa fa-trash"></i>&nbsp;
          <i [routerLink]="['/csoportositas']" class="fa fa-edit"></i>&nbsp;&nbsp;
        </div>
      </div>
    </mat-card>

    <mat-card class="right-aligned-header">
    <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="8px">
      <div class="float-left">
        Newton I. - párosítás
        <img class="image1" src="{{this.diffImServ.convertNumToPath(4)}}">
      </div>
      <div class="float-right">
        {{this.today.getFullYear()}}.{{this.today.getMonth().toString().padStart(2, '0')}}.{{this.today.getDay().toString().padStart(2, '0')}}
        &nbsp;&#8196;<i class="fa fa-trash"></i>&nbsp;
        <i [routerLink]="['/parositas']" class="fa fa-edit"></i>&nbsp;&nbsp;
      </div>
    </div>
    </mat-card>

    <mat-card class="right-aligned-header">
    <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="8px">
      <div class="float-left">
        Ferde hajítás&nbsp;- sorrendezés
        <img class="image1" src="{{this.diffImServ.convertNumToPath(3)}}">
      </div>
      <div class="float-right">
        {{this.today.getFullYear()}}.{{this.today.getMonth().toString().padStart(2, '0')}}.{{this.today.getDay().toString().padStart(2, '0')}}
        &nbsp;&#8196;<i class="fa fa-trash"></i>&nbsp;
        <i [routerLink]="['/sorrendezes']" class="fa fa-edit"></i>&nbsp;&nbsp;
      </div>
    </div>
    </mat-card>
</body>
</html>
