.mat-card{
  width: 230px;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  margin-top: 3em;
}

.addbtn {
  background-color: #90a4ae;
  color: white;
}

