<div class="container">
  <mat-card class="new-user-card">
    <mat-card-title>Regisztráció</mat-card-title>

    <mat-card-content>
      <form (ngSubmit)="register()" [formGroup]="userForm">
        <mat-form-field class="full-width">
          <mat-label>felhasználónév</mat-label>
          <input formControlName="username" matInput placeholder="felhasználónév">
          <mat-error>Felhasználónév nem lehet üres</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>jelszó</mat-label>
          <input formControlName="password" matInput placeholder="jelszó"
                 type="password">
          <mat-error>Jelszó nem lehet üres</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Jogok</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
          <mat-error>Válassz jogosultságot</mat-error>
        </mat-form-field>

        <button class="loginbtn" mat-raised-button type="submit">REGISZTRÁLÁS</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<mat-card *ngFor="let user of users" class="user-card right-aligned-header">
  <div fxLayout="row" fxLayoutAlign="left center">
    <div class="float-left">
      {{user.username}} - {{user.role}}
    </div>
    <div *ngIf="isStudent(user)" class="float-right">
      <i (click)="openMyExercises(user)" class="fa fa-plus-square small-menu-button"
         style="margin-right: 8px"></i>
      <i (click)="deleteUser(user.id)" class="fa fa-trash"></i>
      <a (click)="openUserResults(user.id)" mat-button>Tanuló megtekintése</a>
    </div>
  </div>
</mat-card>
