<html>
<body>
<div class="container">
  <mat-card class="mat-card-controls mat-card-base">
    <mat-card-content>
      <div class="flex-layout">

        <button (click)="newPairing()" class="plusButton" mat-button>
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>
<div class="mat-card-base">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card class="mat-width" *ngFor="let member of this.pairingResponse.pairs; let i = index" >
      <mat-card-content>
        <form *ngFor="let pair of member.pair; let j = index" class="my-form">
          <mat-form-field class="full-width">
            <input [ngModel]="pair.content" (ngModelChange)="onModelChange($event, i, j)" matInput name="username">
          </mat-form-field>
          <br>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="addPairElement(i)" class="addbtn" mat-raised-button>Új Elem</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

</body>
</html>
