<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="centered-nav">
      <ng-template [ngIf]="this.logInStatus">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Meixner</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" routerLink="feladatok" mat-button>Feladatok</a>
        <a href="#" routerLink="feladatsorok" mat-button>Feladatsorok</a>
        <a href="#" routerLink="felhasznalok" mat-button>Felhasználók</a>
      </div>
      </ng-template>
      </div>
      <ng-template [ngIf]="this.logInStatus">
        <div class="flex-center">
          <div class="username">{{authenticationService.getAuthenticatedUser()}}</div>
          <i (click)="onLogout()" class="fa fa-sign-out"></i>
        </div>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" routerLink="feladatok" mat-list-item>Feladatok</a>
        <a href="#" routerLink="feladatsorok" mat-list-item>Feladatsorok</a>
        <a href="#" routerLink="felhasznalok" mat-list-item>Felhasználók</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content align="center" fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
