<div style="width:600px">
  <h2 class="mat-dialog-title" mat-dialog-title>Feladat hozzáadása</h2>
  <div class="mat-dialog-content" mat-dialog-content>

    <form class="exercise-form">
      <mat-form-field class="example-full-width">
        <mat-label>Feladat neve</mat-label>
        <input matInput type="text" [(ngModel)]="this.newTaskModel.title" name="title" (keyup)="this.setName($event.target.value)">
      </mat-form-field>

      <mat-card>

        <mat-form-field>
          <mat-label>Típus</mat-label>
          <mat-select (selectionChange)="this.typeSelected($event)">
            <mat-option *ngFor="let type of types; let typeIndex=index" [value]="typeIndex">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-label>Nehézség</mat-label>
        <mat-slider [(ngModel)]="this.newTaskModel.difficulty" (change)="this.difficultySelected($event)" class="mat-slide-1"
                    thumbLabel
                    tickInterval="1"
                    min="1"
                    max="100"></mat-slider>

      </mat-card>
      <mat-card>
        <mat-form-field>
          <mat-label>-tól</mat-label>
          <mat-select [(ngModel)]="this.newTaskModel.classFrom" (selectionChange)="this.classFromSelected($event)">
            <mat-option *ngFor="let classFrom of classes" [value]="classFrom">
              {{classFrom}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>-ig</mat-label>
          <mat-select [(ngModel)]="this.newTaskModel.classTo" (selectionChange)="this.classToSelected($event)">
            <mat-option *ngFor="let classTo of classesTo" [value]="classTo">
              {{classTo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-form-field>
          <mat-label>Témakör</mat-label>
          <mat-select (selectionChange)="this.topicSelected($event)">
            <mat-option *ngFor="let subject of subjects" [value]="subject">
              {{subject}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </form>
  </div>
  <div mat-dialog-actions align="end">
        <span>
          <button
            type="button"
            mat-flat-button
            class="background-color color-white"
            [mat-dialog-close]="true">
            Mégsem
          </button>
          <button
            type="button"
            mat-stroked-button
            class="color-blue"
            [mat-dialog-close]="true"
            (click)="saveData()">
            Létrehozás
          </button>
        </span>
  </div>
</div>
