<form class="task-form">
  <p class="title-left">Feladat hozzáadása</p>
  <mat-form-field class="example-full-width">
    <mat-label>Feladat neve</mat-label>
    <input matInput type="text" (keyup)="this.setName($event.target.value)">
  </mat-form-field>

  <mat-card>

    <mat-form-field>
      <mat-label>Típus</mat-label>
      <mat-select (selectionChange)="this.typeSelected($event)">
        <mat-option *ngFor="let type of types; let typeIndex=index" [value]="typeIndex" >
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>


      <mat-label>Nehézség</mat-label>
      <mat-slider (change)="this.difficultySelected($event)" class="mat-slide-1"
                  thumbLabel
                  tickInterval="1"
                  min="1"
                  max="100"></mat-slider>

  </mat-card>
  <mat-card>
    <mat-form-field>
      <mat-label>-tól</mat-label>
      <mat-select  (selectionChange)="this.classFromSelected($event)">
        <mat-option *ngFor="let classFrom of classes" [value]="classFrom">
          {{classFrom}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>-ig</mat-label>
      <mat-select (selectionChange)="this.classToSelected($event)">
        <mat-option *ngFor="let classTo of classesTo" [value]="classTo">
          {{classTo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Témakör</mat-label>
      <mat-select  (selectionChange)="this.topicSelected($event)">
        <mat-option *ngFor="let topic of topics" [value]="topic">
          {{topic}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

</form>
