<div style="width:600px">
  <h2 class="mat-dialog-title" mat-dialog-title>Feladat hozzáadása</h2>
  <div class="mat-dialog-content" mat-dialog-content>

    <form class="exercise-form" [formGroup]="newTaskForm"
          (ngSubmit)="saveData()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Feladat neve</mat-label>
        <input matInput formControlName="title" type="text"
               [(ngModel)]="this.newTaskModel.title" name="title">
      </mat-form-field>
      <div *ngIf="submitted && newTaskForm.controls.title.errors" class="invalid-feedback">
        <div>Töltse ki a feladat nevét!</div>
      </div>

      <mat-card>
        <mat-form-field>
          <mat-label>Típus</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of types; let typeIndex=index" [value]="typeIndex">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-label>Nehézség</mat-label>
        <mat-slider formControlName="difficulty" [(ngModel)]="this.newTaskModel.difficulty" class="mat-slide-1"
                    thumbLabel name="difficulty"
                    tickInterval="1"
                    min="1"
                    max="100"></mat-slider>

      </mat-card>
      <mat-card>
        <mat-form-field>
          <mat-label>-tól</mat-label>
          <mat-select formControlName="classFrom" name="classFrom">
            <mat-option *ngFor="let classFrom of classes" [value]="classFrom">
              {{classFrom}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>-ig</mat-label>
          <mat-select formControlName="classTo" name="classTo">
            <mat-option *ngFor="let classTo of classesTo" [value]="classTo">
              {{classTo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-form-field>
          <mat-label>Témakör</mat-label>
          <mat-select formControlName="topic">
            <mat-option *ngFor="let subject of subjects" [value]="subject">
              {{subject}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
      <div mat-dialog-actions align="end">
        <span>
          <button
            type="button"
            mat-flat-button
            class="background-color color-white"
            [mat-dialog-close]="true">
            Mégsem
          </button>
          <button
            type="submit"
            mat-stroked-button
            class="color-mat">
            Létrehozás
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
