.task-form {
  min-width: 150px;
  max-width: 450px;
  width: 95%;
  transform: translateX(10%);
}

.example-full-width {
  width: 95%;
}

.title-left {
  text-align: left;
  font-size: x-large;
}

mat-label {
  color: #90a4ae !important;
}

.background-color {
  background-color: #90a4ae;
}

.color-mat {
  color: #90a4ae;
}

.color-white {
  color: white;
}

.mat-dialog-title {
  transform: translateX(8%);
  max-width: 450px;
}

.mat-dialog-content {
  overflow: inherit;
}
