.exercise-form {
  min-width: 150px;
  max-width: 450px;
  width: 95%;
  transform: translateX(10%);
}

.example-full-width {
  width: 95%;
}

.title-left {
  text-align: left;
  font-size: x-large;
}

mat-label {
  color: rgb(17, 131, 181) !important;
}

.background-color {
  background-color: rgb(17, 131, 181);
}

.color-blue {
  color: rgb(17, 131, 181);
}

.color-white {
  color: white;
}

.mat-dialog-title {
  transform: translateX(8%);
  max-width: 450px;
}

.mat-dialog-content {

}
