<div class="container">
  <mat-card class="mat-card-controls">
    <mat-card-content>
      <div class="flex-layout">
        <button (click)="newItem()" class="plusButton" mat-button>
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <mat-card *ngFor="let member of members; let i = index" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{member.title}}</mat-card-title>
      <button (click)="deleteItem(i)" class="plusButton" mat-button>
        <i class="fa fa-trash"></i>
      </button>
    </mat-card-header>
    <mat-card-content *ngFor="let member of members; let i = index">
      <mat-form-field class="full-width">
        <input matInput [ngModel]="member.content1" (ngModelChange)="onModelChange1($event, i)">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
