<div class="container_row">
  <mat-slider
    #matSlider1
    class="layer1"
    [disabled]="false"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [(ngModel)]="value2"
    [vertical]="vertical"
  >
  </mat-slider>
  <mat-slider
    #matSlider2
    class="layer1 thumbred"
    [disabled]="false"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [(ngModel)]="value1"
    [vertical]="vertical"
  >
  </mat-slider>
  <mat-slider
    #matSlider3
    class="layer1"
    [disabled]="false"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [(ngModel)]="value3"
    [vertical]="vertical"
  >
  </mat-slider>
</div>

<button
  type="submit"
  mat-flat-button
  class="color-mat"
  (click)="rotate()">
  Toggle
</button>
