<div class="container_row">
  <mat-slider *ngFor="let slider of sliders"
              class="layer1"
              [ngClass]="slider.color"
              [disabled]="false"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumbLabel]="thumbLabel"
              [(ngModel)]="slider.value"
              [vertical]="vertical"
  >
  </mat-slider>
</div>
<div class="dot"></div>
<div *ngFor="let slider of sliders" class="dot" [ngStyle]="{'background-color': slider.color2}">
  {{slider.value}}
</div>


<button
  type="submit"
  mat-flat-button
  class="color-mat"
  (click)="ujElem()">
  Új elem
</button>
