/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'font-awesome/css/font-awesome.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-underline {
  color: rgb(17, 131, 181);
  background-color: rgb(17, 131, 181) !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(17, 131, 181) !important;
}

.mat-spinner {
  circle {
    stroke: rgb(17, 131, 181);
  }
}

.mat-form-field-label {
  color: rgb(17, 131, 181) !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(17, 131, 181);
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  margin-bottom: 0px;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.full-width {
  width: 100%;
}

.mat-slider-thumb {
  background-color: rgb(17, 131, 181) !important;
}

.mat-slider-thumb-label {
  background-color: rgb(17, 131, 181) !important;
}

.mat-slider-ticks {
  background-color: rgb(17, 131, 181) !important;
}

.mat-slider-track-fill {
  background-color: rgb(17, 131, 181) !important;
}



