/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'font-awesome/css/font-awesome.css';
@import 'node_modules/@angular/material/theming';
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  margin-bottom: 0px;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.full-width {
  width: 100%;
}


.full-width-inactive {
  width: 100%;
  opacity: 0.5;
}

.width-and-trash {
  width: calc(100% - 50px);
}

.width-and-trash-inactive {
  width: calc(100% - 50px);
  margin-right: 11px;
  opacity: 0.5;
}

.mat-slider-thumb {
  background-color: #90a4ae !important;
}

.mat-slider-thumb-label {
  background-color: #90a4ae  !important;
}

.mat-slider-ticks {
  background-color: #90a4ae  !important;
}

.mat-slider-track-fill {
  background-color: #90a4ae  !important;
}



