<div *ngIf="!loaded">
  <div class="wrapper">
    <div class="center">
      <mat-spinner diameter="70"></mat-spinner>
    </div>
  </div>
</div>
<div *ngIf="loaded">
  <p class="title"><b>Mondat kiegészítés és sorrendezés</b> - {{sentenceCompletion.title}}</p>
  <button (click)="setSortingAvailable(false)" *ngIf="sortingAvailable" class="addbtn" mat-raised-button type="button">
    Vissza a mondat kiegészítéshez
  </button>
  <button (click)="evaluateTask()" *ngIf="sortingAvailable" class="addbtn" mat-raised-button style="margin-left: 24px"
          type="button">
    Kész, beküldöm a megoldást
  </button>
  <button (click)="setSortingAvailable(true)" *ngIf="!sortingAvailable" class="addbtn" mat-raised-button type="button">
    Mondatok kiegészítve, jöhet a sorrendezés
  </button>
  <div *ngIf="!sortingAvailable" cdkDropListGroup>
    <div *ngFor="let sentence of sentenceCompletion.sentences; index as i">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let sentenceItem of sentence; index as j" fxLayout="row wrap" fxLayoutAlign="center center">
          <h2 class="subtitle">{{sentenceItem}}</h2>

          <div class="example-container-small">
            <div (cdkDropListDropped)="drop($event, false)"
                 *ngIf="j < sentence.length -1"
                 [cdkDropListData]="sentenceResult[i][j]"
                 cdkDropList
                 cdkDropListSortingDisabled class="example-list">
              <div *ngFor="let element of sentenceResult[i][j]" cdkDrag
                   class="example-box">{{element}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container-small">
      <h2 class="subtitle">Elérhető elemek</h2>

      <div
        (cdkDropListDropped)="drop($event, true)"
        [cdkDropListData]="options"
        cdkDropList
        cdkDropListSortingDisabled
        class="example-list">
        <div *ngFor="let element of options" cdkDrag class="example-box">{{element}}</div>
      </div>
    </div>
  </div>

  <div (cdkDropListDropped)="dropSentence($event)" *ngIf="sortingAvailable"
       cdkDropList
       class="example-list">
    <div *ngFor="let sentence of sentenceCompletion.sentences; index as i" [ngStyle]="{'background':getSuccess(i)}"
         cdkDrag class="example-box">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let sentenceItem of sentence; index as j" fxLayout="row" fxLayoutAlign="start center">
          <div class="subtitle">{{sentenceItem}}</div>
          <div *ngFor="let element of sentenceResult[i][j]" class="subtitle">&nbsp;{{element}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

