<div *ngIf="!loaded">
  <div class="wrapper">
    <div class="center">
      <mat-spinner diameter="70"></mat-spinner>
    </div>
  </div>
</div>
<div *ngIf="loaded">
  <p class="title"><b>Csoportosítás és sorrendezés</b> - {{grouping.title}}</p>
  <button (click)="evaluateTask()" class="addbtn" mat-raised-button type="button">
    Kész, beküldöm a megoldást
  </button>

  <div cdkDropListGroup>
    <div class="example-container">
      <h2 class="subtitle">Elérhető elemek</h2>

      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="grouping.elements"
        cdkDropList
        cdkDropListSortingDisabled
        class="example-list">
        <div *ngFor="let element of grouping.elements" cdkDrag class="example-box">
          <img *ngIf="element.type == 'FILE'" [src]="element.content | secure | async" class="max-height"/>
          <p *ngIf="element.type == 'TEXT'">{{element.content}}</p>
        </div>
      </div>
    </div>

    <div *ngFor="let group of groupingRequest.groups; index as i" class="example-container">
      <h2 class="subtitle">{{group.name}}</h2>

      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="group.elements"
        [ngClass]="{'border-success':getSuccess(i), 'border-fail':getFail(i)}"
        cdkDropList class="example-list">
        <div *ngFor="let element of group.elements" cdkDrag class="example-box">
          <img *ngIf="isMediaItem(element)" [src]="element.content | secure | async" class="max-height"/>
          <p *ngIf="!isMediaItem(element)">{{element.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
