<div *ngIf="!loaded">
  <div class="wrapper">
    <div class="center">
      <mat-spinner diameter="70"></mat-spinner>
    </div>
  </div>
</div>
<div *ngIf="loaded">
  <p class="title"><b>Vaktérkép</b> - {{blindMap.title}}</p>
  <button (click)="evaluateTask()" class="addbtn" mat-raised-button type="button">
    Kész, beküldöm a megoldást
  </button>

  <div cdkDropListGroup>
    <div class="example-container">
      <h2 class="subtitle">Elérhető elemek</h2>

      <div
        (cdkDropListDropped)="drop($event, true)"
        [cdkDropListData]="options"
        cdkDropList
        cdkDropListSortingDisabled
        class="example-list">
        <div *ngFor="let element of options" cdkDrag class="example-box">{{element}}</div>
      </div>
    </div>

    <div class="container">

      <img [src]="blindMap.image.content | secure | async" class="fixed-top"
           style="width: 1000px; margin-top: 24px; padding-bottom: 240px; position: absolute; top: 50px; left: 50px">

      <div *ngFor="let option of tagResult; index as i" class="example-container-small fixed-top">

        <div
          (cdkDropListDropped)="drop($event, false)"
          [cdkDropListData]="tagResult[i]"
          [ngStyle]="{'top': getSize(positions[i].x), 'left' : getSize(positions[i].y)}"
          cdkDropList
          cdkDropListSortingDisabled
          style="position: absolute;">
          <div [ngStyle]="{'background':getSuccess(i)}" cdkDrag class="example-box">{{option[0]}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
