.mat-card {
  width: 230px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 3em;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.subtitle {
  text-align: center;
  font-size: large;
  margin-top: 24px;
}

.loginbtn {
  background-color: #90a4ae;
  color: white;
}

.full-width.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-underline {
}

