.mat-card{
  width: 230px;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  margin-top: 3em;
}

.loginbtn {
  background-color: #90a4ae;
  color: white;
}

.full-width.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-underline {
}

