<div class="container">
  <mat-card class="my-card">
    <mat-card-title>
       Kérem jelentkezzen be!
    </mat-card-title>
    <mat-card-content>
      <div *ngIf='this.authenticationService.loginError' class="alert alert-warning">Invalid credentials</div>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="username" matInput name="username" placeholder="username">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input (keyup.enter)="onLogin()" [(ngModel)]="password" matInput name="password" placeholder="password"
                 type="password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="onLogin()" class="loginbtn" mat-raised-button>SIGN IN</button>
    </mat-card-actions>
  </mat-card>
</div>
